body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
    display: block;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: green;
}

.del {
  text-decoration: line-through; 
}

.image_container {
  width:100%;
  overflow:auto;
}

.img_right {
  width: 50%;
}

.img_ {
  width: 50%;
}
